form{
    font-size: 1.2rem;
    text-align: center;
}
label{
    width: 100%;
}
.col-sm-3 label{
    width: 10%;
}
span{
    font-weight: bold;
}
#nombreCategoria, #descripcionCategoria{
    width: 100%;
}
.icono-imagen{
    width: 10rem;
    height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
  }
#descripcionCategoria{
    height: 10rem;
}
#nombreProducto, #descripcionProducto{
    width: 100%;
}
#descripcionProducto{
    height: 10rem;
}
.btn-guardar{
    width: 100%;
    height: 3.5rem;
    font-weight: bold;
}
