:root {
    --main-blue: rgb(0 162 208);
    --main-green: rgb(44 148 87);
   
}
.footer-container{
    background: rgb(2,0,36);
    background: linear-gradient(277deg, rgba(2,0,36,1) 0%, rgba(167,255,115,1) 0%, rgba(240,240,240,1) 100%);
    margin: 2rem 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
}
.footer-a{
    text-decoration: none;
    list-style: none;
    display: block;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0;
    width: 95%;

}
.li-footer{
    padding: 0px;
    width: 95%;
}
.footer-a:hover{
    text-decoration: none;
    list-style: none;
    
}
.li-footer:hover{
    text-decoration: none;
    list-style: none;
}