:root {
    --main-blue: rgb(0 162 208);
    --main-green: rgb(44 148 87);
   
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.card{
    margin: 0 auto;
    z-index: 999999999;
}
.card-body{
    background-color: var(--main-green); 
    color: white;
    padding: 0.5rem;
}
.card-title{
    font-size: 3rem;
    margin: 0.5rem;
}
.card-img-top{
    height: 45vh;
    padding: 0.3rem;
    transition: 1.5s ease;
     -moz-transition: 1.5s ease; /* Firefox */
     -webkit-transition: 1.5s ease; /* Chrome - Safari */
     -o-transition: 1.5s ease; /* Opera */
}

.card-img-top:active{
    transform : scale(2);
    -moz-transform : scale(2); /* Firefox */
    -webkit-transform : scale(2); /* Chrome - Safari */
    -o-transform : scale(2); /* Opera */
    -ms-transform : scale(2); /* IE9 */
}
#card-container{
    z-index: 999;
    top: 48rem
}
.card-text{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: gray;
    text-align: justify;
}
/* ================== BOTON ANIMADO ======================= */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-group-item nav ul li {
    --c: rgb(44 148 87);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 10em;
    height: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 0em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: white;
    font-weight: bold;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

@media screen and (min-width:1050px){
	.card{
        max-width: 90%;
        top: 55rem;
        margin: 2rem;
    }
   
}
@media screen and (max-width:1050px){
	
}
@media screen and (max-width:800px){
	
}
@media screen and (max-width:400px){
	.card{
        max-width: 90%;
        top: 16rem;
        margin: 1rem;
    }
}