* {
	margin:0;
	padding:0;
}
:root {
    --main-blue: rgb(0 162 208);
    --main-green: rgb(44 148 87);
    --roboto-font: @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
body {
	background:#FFFFFA;
	width: 100vw;

}
.navbar-li a{
	text-decoration: none;
	font-size: 1.5rem;
	padding: 2rem;
}
.navbar-li a svg{
	margin: 0.5rem;
}
.carousel{
	/* padding-top: 9vh;  */
	width: 100vw;
	z-index: 1;
}

header {
	width:100vw;
	position: fixed;
	z-index: 10;

}
.servicios{
	width: 70vw;
	
}
.servicios2{
	height: 70vh;
	
}

header nav {
	width:100vw;
	background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0, 162, 208, 0.98) 0.1%,  rgba(37,145,251,0.98));	
	font-family: Arial, Helvetica, sans-serif;
	z-index:1;
}

.menu_bar {
	display:none;
}
.horario-body{
	font-size: 1.5rem;
	text-align: center;
}
.horario-p-head{
	font-weight: bold;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color: #FFFFFA;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background: rgba(255,255,255,.59);
	text-decoration: none;
	color: black;
	/* border-radius: 1rem; */
}

section {
	padding:20px;
}

@media screen and (max-width:850px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
		background-color: #FFFFFA;
		
	}
	.carousel{
		/* padding-top: 9vh;  */
		width: 100vw;
		z-index: 0;
	}
	.p_single{
		font-size: 1.2rem;
		text-align: justify;
		padding: 0 1rem;
	}
	.btn-horario{
		background-color: none;
		border: none;
		background: none;
	}
	.dropdown_menu{
		z-index: 10;
		background-color: #FFFFFA;
		padding-bottom: 70vh;
		border: 1px solid grey;
		-webkit-box-shadow: 6px 17px 24px 5px rgba(0,0,0,0.59);
		-moz-box-shadow: 6px 17px 24px 5px rgba(0,0,0,0.59);
		box-shadow: 6px 17px 24px 5px rgba(0,0,0,0.59);
	}
	.imagen-logo {
		/* margin-top: 0.5rem; */
		background-image:url("../images/logo-movil-golden.png");
		width: 3.5rem;
		height: 3.5rem;
		position: absolute;
		left: 88%;
		top:5px;
		background-repeat: round;
		float: right;
	}
	header nav ul li a {
		color:  black;
		padding:20px;
		display:block;
		text-decoration:none;
	}
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid;
	}

	.menu_bar {
		display:block;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:10px;
		background-image:  radial-gradient( circle farthest-corner at 10% 20%, rgba(0, 162, 208, 0.98) 0.1%,  rgba(37,145,251,0.98));
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:2rem;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100vw;
	}

	.menu_bar span {
		float:right;
		font-size:4rem;
	}
	.card{
		margin: 0 auto;
	}
	.card-container{
		text-align: center;
		margin: 0 auto;
		padding-top: 150rem;
	}
	
}
@media screen and (max-width:600px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
		background-color: #FFFFFA;
		
	}
	.p_single{
		font-size: 1.2rem;
		text-align: justify;
		padding: 0;
	}
	.dropdown_menu{
		background-color: #FFFFFA;
		padding-bottom: 70vh;
		border: 1px solid grey;
		-webkit-box-shadow: 6px 17px 24px 5px rgba(0,0,0,0.59);
		-moz-box-shadow: 6px 17px 24px 5px rgba(0,0,0,0.59);
		box-shadow: 6px 17px 24px 5px rgba(0,0,0,0.59);
	}
	.imagenLogo{
		margin-top: 0.5rem;
		background-image:url("../images/movilLogo.png");
		width: 2.5rem;
		height: 2rem;
		background-repeat: round;
		float: right;
	}
	header nav ul li a {
		color:  black;
		padding:10px;
		display:block;
		text-decoration:none;
	}
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid;
	}

	.menu_bar {
		display:block;
		background:#ccc;
	}
	.horario-body{
		text-align: center;
		font-size: 2rem;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:10px;
		background-color: #0093E9;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:2rem;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100vw;
	}

	.menu_bar span {
		float:right;
		font-size:4rem;
	}
}
@media screen and (min-width: 801px ) {
	.imagenLogo{
		margin-top: 0.7rem;
		position: absolute;
		z-index: 30;
		background-image:url("../images/WATERMARK\ GOLD_lowQUALITY\ .png");
		width: 16rem;
		height: 10rem;
		background-repeat: round;
		margin-left: 79vw;
	}
	.p_single{
		font-size: 1.2rem;
		text-align: justify;
		padding: 0 2rem;
	}
}
@media screen and (min-width: 350px ) {
	.horario-body{
		font-size: 1.2rem;
	}
}
.btn-grad {background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

#boletos_disponibles, #precio_boleto, #fecha_fin{
	padding: 1rem;
	margin: 0 20%;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	color: gold;
	border-radius: 1rem;
	text-align: center;
	background-image:  radial-gradient( circle farthest-corner at 10% 20%, rgba(0, 162, 208, 0.98) 0.1%,  rgba(37,145,251,0.98));
}

#fecha_fin{
	margin-top: 5rem;
	margin: 0 auto;
	width: 90%;
}
 