<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-sm-4" style="padding:0; width:95%">
                <img class="logo-img" src="../../static/images/logo.png" alt="Logo de Novasin">
             
            </div>
            <div class="col-sm-4" style="padding: 0px; width:95%">
                <ul>
                   <a href="https://www.facebook.com/Novasin-132269560514178" target="_blank" class="footer-a">
                       <li class="li-footer"><i class="bi bi-facebook"></i> Facebook</li>
                   </a>
                   <a href="https://instagram.com/novasin_culiacan" target="_blank" class="footer-a">
                       <li class="li-footer"><i class="bi bi-instagram"></i> Instagram</li>
                   </a>
                   <a href="https://g.co/kgs/e3pXuu" target="_blank" class="footer-a">
                       <li class="li-footer"><i class="bi bi-google"></i> Google</li>
                   </a>
                </ul>
            </div>
            <div class="col-sm-4" style="padding: 0px; width:95%">
                <ul>
                    <a href="/" class="footer-a">
                        <li class="li-footer">Inicio</li>
                    </a>
                    <a href="/registro" class="footer-a">
                        <li class="li-footer">Iniciar sesion</li>
                    </a>
                    <a href="/acerca" class="footer-a">
                        <li class="li-footer">Acerca de</li>
                    </a>
                    <a href="/politicas" class="footer-a">
                        <li class="li-footer">Politicas de Privacidad</li>
                    </a>         
                 </ul>
            </div>
        </div>
    </div>
</body>
</html>