<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-sm-4"> <figure>
                <center> <img class="logo-img" src="../../static/images/logo-golden.png" alt="Logo de Novasin"></center>
             </figure>
            </div>
            <div class="col-sm-4">
                <ul>
                   <a href="#" class="footer-a">
                       <li class="li-footer"><i class="bi bi-facebook"></i> Facebook</li>
                   </a>
                   <a href="#" class="footer-a">
                       <li class="li-footer"><i class="bi bi-instagram"></i> Instagram</li>
                   </a>
                   <a href="#" class="footer-a">
                       <li class="li-footer"><i class="bi bi-whatsapp"></i> Whatsapp</li>
                   </a>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <a href="#" class="footer-a">
                        <li class="li-footer">Inicio</li>
                    </a>
                    <a href="#" class="footer-a">
                        <li class="li-footer">Iniciar sesion</li>
                    </a>
                    <a href="#" class="footer-a">
                        <li class="li-footer">Contacto</li>
                    </a>
                    <a href="#" class="footer-a">
                        <li class="li-footer">Politicas de Privacidad</li>
                    </a>
                    <a href="#" class="footer-a">
                        <li class="li-footer">Horario</li>
                    </a>
                 </ul>
            </div>
        </div>
    </div>
</body>
</html>