<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/navbar.css">
  <link rel="stylesheet" href="../../static/css/boton-flotante.css">

</head>
<body>
  <a id="link_whatsapp" href="https://wa.me/526676973437?text=Hola, he revisado su pagina web y quiera preguntar acerca de: "  class="btn-flotante"><i class="bi bi-whatsapp "  style="font-size: 3rem;"></i></i></a>
  <header>

    <div class="menu_bar">
    <!--List menu icon-->
      <a href="https://wa.me/526676973437?text=Hola, he revisado su pagina web y quiera preguntar acerca de: " class="bt-menu" ><svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        
      </svg>
      <a  href="/"><div class="imagen-logo"></div></a>
      </a>
    
      
    </div>
    <input type="text" id="validar_existe_inicio_sesion" hidden value="{{session['nombre_usuario']}}">
    <nav >
      

      <ul class="dropdown_menu" style="margin: 0px;">
        <li class="navbar-li"><a href="/" ><svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
          <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
        </svg>Inicio</a></li>
        <li  class="navbar-li" id="li_iniciar_sesion"><a  href="/registro" ><svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
          <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg>Iniciar Sesion</a></li>
        <li  class="navbar-li" ><a data-toggle="modal"  data-target="#modal-horario" ><svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem"  fill="currentColor" class="bi bi-alarm-fill" viewBox="0 0 16 16">
          <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
        </svg>Horario</a></li>
        <li class="navbar-li" id="admin-li"><a href="/admin" ><svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>Administrar</a></li>
      </ul>
    </nav>
    <input type="text" value="{{session['tipo_usuario']}}" id="admin-input" hidden>

  </header>



<!-- Modal -->
<div class="modal fade" id="modal-horario" tabindex="-1" aria-labelledby="modal-horarioLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 2rem; font-weight: bold;" id="modal-horarioLabel">Horario de Atencion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body horario-body">
        <div class="row">
          <div class="col-sm-6"><p class="horario-p-head">Domingo</p></div>
          <div class="col-sm-6"><p class="horario-p">Cerrado</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><p class="horario-p-head">Lunes</p></div>
          <div class="col-sm-6"><p class="horario-p">8:00 a. m. - 6:00 p. m.</p> </div>
        </div>
        <div class="row">
          <div class="col-sm-6"><p class="horario-p-head">Martes</p></div>
          <div class="col-sm-6"><p class="horario-p">8:00 a. m. - 6:00 p. m.</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><p class="horario-p-head">Miercoles</p></div>
          <div class="col-sm-6"><p class="horario-p">8:00 a. m. - 6:00 p. m.</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><p class="horario-p-head">Jueves</p></div>
          <div class="col-sm-6"><p class="horario-p">8:00 a. m. - 6:00 p. m.</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><p class="horario-p-head">Viernes</p></div>
          <div class="col-sm-6"><p class="horario-p">8:00 a. m. - 6:00 p. m.</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6"><p class="horario-p-head">Sabado</p></div>
          <div class="col-sm-6"><p class="horario-p">8:00 a. m. - 2:00 p. m.</p></div>
        </div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="width:100%">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<script>
  
    let validarExisteInicioSesion = document.getElementById('validar_existe_inicio_sesion').value
    let liIniciarSesion = document.getElementById('li_iniciar_sesion')
    if (validarExisteInicioSesion != '') {
      liIniciarSesion.innerHTML = 
        `<a  href="/cerrar-sesion" ><svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
        <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
        </svg>Cerrar Sesion</a></li>`

    }
</script>
<script src="../../static/libraries/jquery3.6.0/jquery-3.6.0.min.js"></script>
<!--Script para la barra de navegacion-->
<script>

$(document).ready(main);

var contador = 1;

function main(){
	$('.bi-list').click(function(){
		// $('nav').toggle(); 

		if(contador == 1){
			$('nav').animate({
				left: '0'
			});
			contador = 0;
		} else {
			contador = 1;
			$('nav').animate({
				left: '-100%'
			});
		}

	});

};

const removerModalBackdrop = () => $('.modal-backdrop').remove();


</script>
<script>
  let adminLi = document.getElementById('admin-li');
  let adminInput = document.getElementById('admin-input').value
  if (adminInput != 'admin'|| adminInput == ''){
    adminLi.style.display = 'none'
  }
</script>
<!-- Sirve para poner codigo python -->
{% block contenido %}
{% endblock %}
</body>
</html>
