:root {
    --main-blue: rgb(0 162 208);
    --main-green: rgb(44 148 87);
   
}
.footer-container{
 	background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0, 162, 208, 0.98) 0.1%,  rgba(37,145,251,0.98));;
    margin: 2rem 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
}
.footer-a{
    text-decoration: none;
    list-style: none;
    display: block;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem;

}
.footer-a:hover{
    text-decoration: none;
    list-style: none;
    
}
.li-footer:hover{
    text-decoration: none;
    list-style: none;
}