<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrador</title>
  <script src="../static/libraries/gsap/gsap.min.js"></script>
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/404.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/admin.css">
  <script src="../../static/libraries/jquery3.6.0/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="../static/libraries/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../static/libraries/bootstrap-4.6.1-dist/css/bootstrap.min.css">
</head>

<body style="width: 100vw; ">
  <!-- Navbar -->

  {% extends "./_html/_navbar.html" %}
  {% block contenido %}
  <!-- <input type="text" id="validar_existe_inicio_sesion" hidden value="{{session['tipo_usuario']}}"> -->
  <br>
  <br>
  <div class="container admin-container">
    <!-- ========= TABLA DE CATEGORIAS ========= -->
    <div class="row">
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCategoria"
        style="font-size: 1.5rem; font-weight: bold;">
        + Añadir nueva categoria

      </button>
      <table class="table table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Caratula</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for datos in categorias %}
          <tr>
            <td>{{datos[0]}}</td>
            <td>{{datos[1]}}</td> <!-- Asigna el nombre de la imagen y la muestra-->
            <td>{{datos[2]}}</td>
            <td><img style="width: 7rem; height: 7rem;" src="/home/alexisdev508/Novasin/static/images/categorias/{{datos[1].strip().replace(' ', '-')}}/{{datos[3]}}"
                alt=""> </td>
            <td>
              <a href="/editar-categoria/{{datos[0]}}"><i class="bi bi-pencil-fill"
                  style="font-size: 1.5rem; padding: 0.5rem;"></i></a>
              <!--Envia el id de la personas a la ruta de editar-->
              <a onclick="confirmarEliminar('/eliminar-categoria/{{datos[0]}}')"><i class="bi bi-trash-fill"
                  style="font-size: 1.5rem; padding: 0.5rem;"></i></a>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
     <!-- ========= TABLA DE PRODUCTOS ========= -->
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProducto"
      style="font-size: 1.5rem; font-weight: bold; left:-55px;">
      + Añadir nuevo producto
    </button>
      <table class="table table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Producto</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio por unidad</th>
            <th scope="col">Imagen</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>

          {% for datos in productos %}
          <tr>
            <td>{{datos[0]}}</td>
            <td>{{datos[1]}}</td> <!-- Asigna el nombre de la imagen y la muestra-->
            <td>{{datos[2]}}</td>
            <td>{{datos[3]}}</td>
            <td><img style="width: 7rem; height: 7rem;" src="/home/alexisdev508/Novasin/static/images/productos/{{datos[1].strip().replace(' ', '-')}}/{{datos[5]}}"
                alt=""> </td>
            <td>
              <a href="/editar-producto/{{datos[0]}}"><i class="bi bi-pencil-fill"
                  style="font-size: 1.5rem; padding: 0.5rem;"></i></a>
              <!--Envia el id de la personas a la ruta de editar-->
              <a onclick="confirmarEliminar('/eliminar-producto/{{datos[0]}}')"><i class="bi bi-trash-fill"
                  style="font-size: 1.5rem; padding: 0.5rem;"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
   
    <br>
    <div class="row">
      
    </div>
    <br><br>
    <!-- ========= TABLA DE USUARIOS ========= -->
    <div class="row">
      <H1>Tabla de usuarios</H1>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
      <table class="table table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for datos in usuarios %}
          <tr>
            <td>{{datos[0]}}</td>
            <td>{{datos[1]}}</td> <!-- Asigna el nombre de la imagen y la muestra-->
            <td>{{datos[3]}}</td>
            <td>{{datos[4]}}</td>
            <td>{{datos[5]}}</td>
            <td>
              <a onclick="confirmarEliminar('/eliminar-usuario/{{datos[0]}}')"><i class="bi bi-trash-fill"
                  style="font-size: 1.5rem; padding: 0.5rem;"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
    
    <div class="row pt-5 p-2">
      <div class="col-sm-12 mb-3" style="background:rgba(34, 34, 34, 0.968); color: white;">
        <h1 style="padding: 0.5rem;">Mas funciones</h1>
      </div>

      <button type="button" style="border-radius: 10px;" class="btn btn-primary" data-toggle="modal"
        data-target="#modalCarrusel" style="font-size: 1.5rem; font-weight: bold;">
        <i class="bi bi-card-heading" style="font-size: 7rem;"></i>
        <br>
        Cambiar el carrusel principal
      </button>
      <button type="button" style="border-radius: 10px; margin-left:0.5rem;" class="btn btn-primary" data-toggle="modal"
      data-target="#modalGaleria" style="font-size: 1.5rem; font-weight: bold;">
      <i class="bi bi-image-fill" style="font-size: 7rem;"></i>
      <br>
      Administrar galeria principal
    </button>
    </div>

  </div>

  <div class="container">
      <!-- ====== Modal Galeria ====== -->

      <div class="modal fade" id="modalGaleria" tabindex="-1" role="dialog" aria-labelledby="modalGaleriaLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalGaleriaLabel">Añadir una imagen a la galeria</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
              <form action="/guardar-imagen-galeria" method="POST" enctype="multipart/form-data">
                <div class="row">
                <div class="col-md-6">
                  <label for="titulo_imagen">
                    <span>Titulo de la imagen (opcional)</span>
                    <br>
                    <input type="text" style="width:100%;" name="titulo_imagen" id="titulo_imagen">
                  </label>
                </div>               
               
                  <div class="col-md-6">
                    <label for="imagen_galeria">
                      <!-- Caratula -->
                      <a onclick="mostrarFile('imagen_galeria')"><img src="../static/icono-imagen.png"
                          id="imgImagenGaleria" alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen_galeria" id="imagen_galeria"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagenGaleria')">
                    </label>
                  </div>
                </div>
                
                <div class="modal-footer" style="padding-left:0px; padding-right:0px;">
                  <input type="submit" class="btn btn-primary btn-guardar" value="Guardar imagen" >
                </div>
                <table class="table table-responsive">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Titulo de la imagen</th>
                      <th scope="col">Imagen</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>        
                    {% for datos in galerias %}
                    <tr>
                
                      <td>{{datos[1]}}</td> <!-- Asigna el nombre de la imagen y la muestra-->

                      <td><img style="width: 7rem; height: 7rem;" src="/home/alexisdev508/Novasin/static/images/galeria/{{datos[2]}}"
                          alt=""> </td>
                      <td>
                        <!--Envia el id de la personas a la ruta de editar-->
                        <a onclick="confirmarEliminar('/eliminar-imagen-galeria/{{datos[0]}}')"><i class="bi bi-trash-fill"
                            style="font-size: 1.5rem; padding: 0.5rem;"></i></a>
                      </td>
                    </tr>
                    {% endfor %}
          
          
          
                  </tbody>
                </table>
              </form>
            
          </div>
        </div>
      </div>
    </div>
    <!-- ====== Modal Categoria ====== -->

    <div class="modal fade" id="modalCategoria" tabindex="-1" role="dialog" aria-labelledby="modalCategoriaLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCategoriaLabel">Nueva categoria</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <form action="/guardar-categoria" method="POST" enctype="multipart/form-data">
                <div class="col-sm-12">
                  <label for="nombreCategoria">
                    <span>Nombre de la categoria</span>
                    <br>
                    <input type="text" name="nombreCategoria" id="nombreCategoria">
                  </label>
                </div>
                <div class="col-sm-12">
                  <label for="descripcionCategoria">
                    <span>Descripcion de la Categoria</span>
                    <br>
                    <textarea name="descripcionCategoria" id="descripcionCategoria"></textarea>
                  </label>
                </div>
                <div class="row mx-auto">
                  <div class="col-md-4">
                    <label for="imagenCaratula">
                      <!-- Caratula -->
                      <a onclick="mostrarFile('imagenCaratula')"><img src="../static/icono-imagen.png"
                          id="imgImagenCaratula" alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagenCaratula" id="imagenCaratula"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagenCaratula')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen1">
                      <a onclick="mostrarFile('imagen1')"><img src="../static/icono-imagen.png" id="imgImagen1"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen1" id="imagen1"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen1')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen2">
                      <a onclick="mostrarFile('imagen2')"><img src="../static/icono-imagen.png" id="imgImagen2"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen2" id="imagen2"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen2')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen3">
                      <a onclick="mostrarFile('imagen3')"><img src="../static/icono-imagen.png" id="imgImagen3"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen3" id="imagen3"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen3')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen4">
                      <a onclick="mostrarFile('imagen4')"><img src="../static/icono-imagen.png" id="imgImagen4"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen4" id="imagen4"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen4')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen5">
                      <a onclick="mostrarFile('imagen5')"><img src="../static/icono-imagen.png" id="imgImagen5"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen5" id="imagen5"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen5')">
                    </label>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-primary btn-guardar" value="Guardar">
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- =========== MODAL CARRUSEL =========== -->
    <div class="modal fade" id="modalCarrusel" tabindex="-1" role="dialog" aria-labelledby="modalCategoriaLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalCarruselLabel">Cambiar carrusel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <form action="/guardar-imagenes-carrusel" method="POST" enctype="multipart/form-data">
                <div class="col-sm-12">
                  <label for="titulo_imagen_1">
                    <span>Titulo de la primera imagen</span>
                    <br>
                    <input type="text" style="width:100%" name="titulo_imagen_1" id="titulo_imagen_1">
                  </label>
                </div>
                <div class="col-sm-12">
                  <label for="titulo_imagen_2">
                    <span>Titulo de la segunda imagen</span>
                    <br>
                    <input type="text" style="width:100%" name="titulo_imagen_2" id="titulo_imagen_2">
                  </label>
                </div>
                <div class="col-sm-12">
                  <label for="titulo_imagen_3">
                    <span>Titulo de la tercera imagen</span>
                    <br>
                    <input type="text" style="width:100%" name="titulo_imagen_3" id="titulo_imagen_3">
                  </label>
                </div>
                <div class="col-sm-12">
                  <label for="titulo_imagen_4">
                    <span>Titulo de la cuarta imagen</span>
                    <br>
                    <input type="text" style="width:100%" name="titulo_imagen_4" id="titulo_imagen_4">
                  </label>
                </div>
                <div class="col-sm-12">
                  <label for="titulo_imagen_5">
                    <span>Titulo de la quinta imagen</span>
                    <br>
                    <input type="text" style="width:100%" name="titulo_imagen_5" id="titulo_imagen_5">
                  </label>
                </div>
                <div class="row mx-auto">

                  <div class="col-md-4">
                    <label for="imagen1c">
                      <a onclick="mostrarFile('imagen1c')"><img src="../static/icono-imagen.png" id="imgImagen1c"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen1c" id="imagen1c"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen1c')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen2c">
                      <a onclick="mostrarFile('imagen2c')"><img src="../static/icono-imagen.png" id="imgImagen2c"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen2c" id="imagen2c"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen2c')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen3c">
                      <a onclick="mostrarFile('imagen3c')"><img src="../static/icono-imagen.png" id="imgImagen3c"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen3c" id="imagen3c"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen3c')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen4c">
                      <a onclick="mostrarFile('imagen4c')"><img src="../static/icono-imagen.png" id="imgImagen4c"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen4c" id="imagen4c"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen4c')">
                    </label>
                  </div>
                  <div class="col-md-4">
                    <label for="imagen5c">
                      <a onclick="mostrarFile('imagen5c')"><img src="../static/icono-imagen.png" id="imgImagen5c"
                          alt="Cargar una imagen" class="icono-imagen"></a>
                      <input type="file" hidden name="imagen5c" id="imagen5c"
                        accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                        onchange="vista_preeliminar(event, 'imgImagen5c')">
                    </label>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" class="btn btn-primary btn-guardar" value="Guardar">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ====== Modal Producto ====== -->
    <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" aria-labelledby="modalProductoLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalProductoLabel">Nuevo producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <form action="/guardar-producto" method="POST" enctype="multipart/form-data">
                <div class="col-sm-12">
                  <label for="nombreProducto">
                    <span>Nombre del producto</span>
                    <br>
                    <input type="text" name="nombreProducto" id="nombreProducto" style="text-align: center;">
                  </label>
                </div>
                <div class="col-sm-12">
                  <label for="descripcionProducto">
                    <span>Descripcion del producto</span>
                    <br>
                    <textarea name="descripcionProducto" id="descripcionProducto"></textarea>
                  </label>
                </div>
                <div class="col">
                  <label for="precioProducto">
                    <span>Precio del producto</span>
                    <br>
                    <input type="text" name="precioProducto" id="precioProducto"
                      placeholder="Ej. $100 por metro cuadrado" style="width: 100%; text-align:center;">
                  </label>
                  <span>Seleccione la categoria del producto</span>
                  <br>
                  <select name="select-categoria" id="select-categoria"
                    style="width: 100%; text-align:center; margin-bottom:1rem;">
                    {% for categoria in categorias %}
                    <option value="{{categoria[0]}}">{{categoria[1]}}</option>
                    {% endfor %}
                  </select>
                  <br>
                  <div class="row">
                    <div class="col-sm-4">
                      <label for="imagen1p">
                        <a onclick="mostrarFile('imagen1p')"><img src="../static/icono-imagen.png" id="imgImagen1p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen1p" id="imagen1p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen1p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen2p">
                        <a onclick="mostrarFile('imagen2p')"><img src="../static/icono-imagen.png" id="imgImagen2p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen2p" id="imagen2p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen2p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen3p">
                        <a onclick="mostrarFile('imagen3p')"><img src="../static/icono-imagen.png" id="imgImagen3p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen3p" id="imagen3p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen3p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen4p">
                        <a onclick="mostrarFile('imagen4p')"><img src="../static/icono-imagen.png" id="imgImagen4p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen4p" id="imagen4p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen4p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen5p">
                        <a onclick="mostrarFile('imagen5p')"><img src="../static/icono-imagen.png" id="imgImagen5p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen5p" id="imagen5p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen5p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen6p">
                        <a onclick="mostrarFile('imagen6p')"><img src="../static/icono-imagen.png" id="imgImagen6p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen6p" id="imagen6p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen6p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen7p">
                        <a onclick="mostrarFile('imagen7p')"><img src="../static/icono-imagen.png" id="imgImagen7p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen7p" id="imagen7p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen7p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen8p">
                        <a onclick="mostrarFile('imagen8p')"><img src="../static/icono-imagen.png" id="imgImagen8p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen8p" id="imagen8p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen8p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen9p">
                        <a onclick="mostrarFile('imagen9p')"><img src="../static/icono-imagen.png" id="imgImagen9p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                        <input type="file" hidden name="imagen9p" id="imagen9p"
                          accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                          onchange="vista_preeliminar(event, 'imgImagen9p')">
                      </label>
                    </div>
                    <div class="col-sm-4">
                      <label for="imagen10p">
                        <a onclick="mostrarFile('imagen10p')"><img src="../static/icono-imagen.png" id="imgImagen10p"
                            alt="Cargar una imagen" class="icono-imagen"></a>
                          <input type="file" hidden name="imagen10p" id="imagen10p"
                            accept=".jpg,.png,jpeg,.bmp,.BMP,.gif,.GIF,.TIF,.tif" required
                            onchange="vista_preeliminar(event, 'imgImagen10p')">
                      </label>
                    </div>

                  </div>
                </div>
                <div class="modal-footer">

                  <button type="submit" class="btn btn-primary btn-guardar">Guardar</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- ===== FOOTER ===== -->
  {% include "./_html/_footer.html" %}


  <script src="../../static/libraries/bootstrap-4.6.1-dist/js/bootstrap.min.js "></script>

  <script>
    let vista_preeliminar = (event, fileImg) => {
      let leer_img = new FileReader();
      let id_img = document.getElementById(fileImg);

      leer_img.onload = () => {
        if (leer_img.readyState == 2) {
          id_img.src = leer_img.result;
        }
      }
      leer_img.readAsDataURL(event.target.files[0]);
    }
    function mostrarFile(fileId) {
      $(`#${fileId}`).triggerHandler('click');
    }
    function confirmarEliminar(ruta) {
      let confirmacion = confirm("¿Desea eliminar el registro?")
      if (confirmacion) {
        location.href = ruta
      }
    }

  </script>
  {% endblock %}

</body>

</html>