<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/main-cards.css">
  <link rel="stylesheet" href="../static/css/footer.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/products.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/magnific-popup.js/1.1.0/magnific-popup.min.css">

  <title>Productos</title>
</head>

<body>
  <!-- Navbar -->
  <div class="navbarContainer"></div>

  </header>
  <!-- Main -->
  <div class="container-fluid">
    <!-- Logo -->
    <!-- <div class="row mx-auto">
            <div class="col-12">
                <figure>
                   <center> <img class="logo-img" src="../static/images/logo.png" alt="Logo de Novasin"></center>
                </figure>
            </div>
        </div> -->
    <br><br><br>
    <div class="row">
      <div class="col-12 slider pt-5 p-0">
        <div id="carouselExampleIndicators" style="position: static; display: block;" class="carousel slide"
          data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h4 class="text-over--carousel">Producto 1</h4>
              <img src="../static/images/1 (1).jpeg" class="d-block w-100" alt="Imagen 1 de carrusel">
            </div>
            <div class="carousel-item">
              <h4 class="text-over--carousel">Producto 2</h4>
              <img src="../static/images/1 (2).jpeg" class="d-block w-100" alt="Imagen 1 de carrusel">
            </div>
            <div class="carousel-item">
              <h4 class="text-over--carousel">Producto 3</h4>
              <img src="../static/images/1 (3).jpeg" class="d-block w-100" alt="Imagen 1 de carrusel">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </button>
        </div>
      </div>

    </div>
    <div class="row" >
      <div class="col-sm-12" >
        <!-- ======== BANNER =========== -->
        <div class="downbanner " data-aos="fade-right"  data-aos-duration="1000">
          <div class="row ">
            <div class="col-sm-6" style="text-align: center;">
              <br><br><br><br><br><br><br>
              <div class="row mx-auto">
                <div class="col">
                  <h1 style="font-size: 3.5rem; padding: 0.5rem;">Descripcion del producto</h1>
                </div>

              </div>
              <div class="row mx-auto">
                <div class="col">
                  <p style="text-align: justify; font-size: 1.5rem;">Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Animi facere accusamus eius aperiam ducimus, earum, dolorem cumque porro asperiores quod optio
                    nostrum quisquam ratione culpa aut labore vel necessitatibus eos..</p>
                </div>

              </div>
            </div>
            <div class="col-sm-6 mx-auto">
              <img src="../static/images/1 (1).jpeg" alt="">
            </div>
          </div>


        </div>
        <div class="col-sm-12">
          <!-- ======== BANNER =========== -->
          <div class="downbanner" data-aos="fade-left"  data-aos-duration="1000">
            <div class="row ">
              <div class="col-sm-6" style="text-align: center;" >
                <img src="../static/images/1 (1).jpeg" alt="">
              </div>
              <div class="col-sm-6 mx-auto">
                <br><br><br><br><br><br><br>
                <div class="row mx-auto">
                  <div class="col">
                    <h1 style="font-size: 3.5rem; padding: 0.5rem;"> Ventajas y Caracteristicas</h1>
                  </div>
  
                </div>
                <div class="row mx-auto">
                  <div class="col">
                    <p style="text-align: justify; font-size: 1.5rem;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi facere accusamus eius aperiam ducimus, earum, dolorem cumque porro asperiores quod optio nostrum quisquam ratione culpa aut labore vel necessitatibus eos..</p>
                  </div>
  
                </div>
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
      <!-- ======== USOS ========= -->
      <div class="col-sm-12 mx-auto usage-container">
        <div class="row">
          <div class="col-sm-12"><h1>Usos:</h1></div>
          <div class="col-sm-6">
            <ul class="usage-container_ul">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="usage-container_ul">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- =========== FOOTER ============== -->
  <div class="footer-container"></div>


  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script type="module" src="../static/js/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <script src="https://cdn.bootcss.com/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.navbarContainer').load('../static/_html/_navbar.html');
    });
    $(document).ready(function () {
      $('.footer-container').load('../static/_html/_footer.html');
    });
  </script>
  <script>
    $(".images").magnificPopup({
      delegate: 'a',
      type: 'image', // Tipo: Imagen
      gallery: {
        enabled: true // El álbum se puede cambiar hacia arriba y hacia abajo
      }
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>