<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="../static/ss/navbar.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/registro.css">
    <script src="../static/libraries/gsap/gsap.min.js"></script>
    <script src="../static/libraries/jquery3.6.0/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/libraries/bootstrap-4.6.1-dist/css/bootstrap.min.css">
</head>

<body>
    <!-- Navbar -->
    {% extends "./_html/_navbar.html" %}
    {% block contenido %}
    <div class="container-fluid body-background">
        <div class="row mx-auto">
            <div class="col-sm-12">

                <form id="user_form">
                    <img class="imgLogo" src="../static/images/logo.png" alt="Logo de Novasin">
                    <br>
                    <label for="user" class="label-form">
                        <span>Nombre de usuario</span>
                        <br>
                        <input type="text" id="user" name="user" placeholder="Escriba su nombre de usuario" required>
                    </label>
                    <label for="password" class="label-form">
                        <span>Contraseña</span>
                        <br>
                        <input type="text" id="password" name="password" placeholder="Escriba su contraseña" required>
                    </label>
                    <input type="submit" class="btn-aceptar" value="Aceptar">
                
                    <p style="font-size: 1.5rem; color: rgb(85, 85, 85);; font-weight: bold;">O</p>
                   
                    <button class="btn-google"><i class="bi bi-google"></i> Iniciar sesion con Google </button>
                    <br>
                    <a href="#" class="form-a a-contrasena">Olvide mi contraseña</a>
                    <a href="#" class="form-a a-registrate" style="color: rgb(85, 85, 85);">o</a>
                    <a href="#" class="form-a a-registrate"  data-toggle="modal"style=" color: rgb(85, 85, 85);" data-target="#user_register">Registrate</a>
                </form>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="user_register" tabindex="-1" aria-labelledby="user_register-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="user_register-label">Crea una nueva cuenta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/guardar-usuario" method="post" enctype="multipart/form-data">
                <label for="name">
                    <span>Nombre de usuario</span>
                    <input type="text" name="name" id="name" minlength="5" maxlength="32" required placeholder="Ej. Pedro Lopez" st>
                </label>
                <label for="new-password">
                    <span>Contraseña</span>
                    <input type="password" name="new-password" id="new-password" minlength="8" maxlength="32" required placeholder="Minimo 8 caracteres">
                </label>
                <label for="new-password2">
                    <span>Repita su Contraseña</span>
                    <input type="password" name="new-password2" id="new-password2" minlength="8" maxlength="32" required placeholder="Minimo 8 caracteres">
                </label>
                <label for="email">
                    <span>Correo electronico </span>
                    <input type="email" name="email" id="email"  required placeholder="Ej. alguien@gmail.com">
                </label>
                <label for="phone">
                    <span>Numero de telefono 10 digitos</span>
                    <input type="tel" name="phone" id="phone" minlength="10" maxlength="10" required placeholder="Ej. 6681530000">
                </label>
                <label for="ciudad">
                    <span>Correo electronico </span>
                    <input type="text" name="ciudad" id="ciudad"  required placeholder="Indique la ciudad donde vive">
                </label>
                <label for="recaptcha">
                    <span>Valida el captcha para continuar</span>
                   <center> <div class="g-recaptcha" data-siteKey="6LeJO9MeAAAAAA52SP7mESftBaufvniPEsXrRbWx"></div></center>
                </label>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" style="font-size: 1.3rem; font-weight: bold; " data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" style="font-size: 1.3rem; font-weight: bold;" value="Registrarse">
                    
                  </div>
            </form>
            
        </div>
       
      </div>
    </div>
  </div>
  
    <script>
        gsap.to("#user_form", { y: "5%", duration: 3, ease: "bounce" })
    </script>
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="../static/libraries/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    {% endblock %}
    
</body>

</html>